{
  "presets": ["env", "react", "flow"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "lib",
        "rootPathPrefix": "@"
      }
    ]
  ]
}
